<div class="popupContainer visible">
	<div class="popup">
		<div class="header">New subscription</div>

		<form method="POST" action="{{ path('manager_subscription_create') }}">
			<label for="url">URL:</label>
			<input type="text" id="url" name="url" required>

			<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_subscription_create') }}">

			<br><br>

			<button type="submit">Create</button>
		</form>
	</div>
</div>