{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupTitle %}New subscription{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_subscription_create') }}">
		<label for="url">URL:</label>
		<input type="text" id="url" name="url" required>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_subscription_create') }}">

		<br><br>

		<button type="submit">Create</button>
	</form>
{% endblock %}