{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupTitle %}Import OPML{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_opml_import') }}" enctype="multipart/form-data">
		<input type="file" id="opml" name="opml">

		<br>

		<button type="submit">Import</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_opml_import') }}">
	</form>
{% endblock %}