{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupTitle %}
	{{ "manager.catsubs.import_opml"|trans({}, 'manager') }}
{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_opml_import') }}" enctype="multipart/form-data">
		<input type="file" id="opml" name="opml">

		<br>

		<button type="submit">{{ "manager.catsubs.import_opml.submit"|trans({}, 'manager') }}</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_opml_import') }}">
	</form>
{% endblock %}