/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/cache/simplepie
/var/cache/simplepie/*
!var/cache/simplepie/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/src/MiamBundle/Entity/*.php~

/web/css/*.css.map
/web/images/feeds/*
!web/images/feeds/.gitkeep

.sass-cache