@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('../../fonts/ubuntu/Ubuntu-R.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), url('../../fonts/ubuntu/Ubuntu-I.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), url('../../fonts/ubuntu/Ubuntu-B.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), url('../../fonts/ubuntu/Ubuntu-BI.ttf') format('truetype');
}
