{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupContainerClass %}login hidden{% endblock %}

{% block popupTitle %}Login{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('login_check') }}">
	    <label for="popup_username">Username:</label>
	    <input type="text" id="popup_username" name="_username" placeholder="Username">

	    <br>

	    <label for="popup_password">Password:</label>
	    <input type="password" id="popup_password" name="_password" placeholder="Password">

	    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

	    <br><br>

	    <button type="submit">Login</button>
	</form>
{% endblock %}