{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupContainerClass %}register hidden{% endblock %}

{% block popupTitle %}Register{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('register_check') }}">
		<label for="popup_username">Choose a username:</label>
		<input type="text" id="popup_username" name="username" placeholder="Username">

		<br>

		<label for="popup_password">Choose a password:</label>
		<input type="password" id="popup_password" name="password" placeholder="Password">

		<br>

		<label for="popup_password_again">Retype the password:</label>
		<input type="password" id="popup_password_again" name="password_again" placeholder="Password (again)">

		<input type="hidden" name="csrf_token" value="{{ csrf_token('register') }}">

		<br><br>

		<button type="submit">Register</button>
	</form>
{% endblock %}