h1 {
	margin:1.5rem 2rem;
	text-align:center;
}

p {
	margin-bottom:2rem;
	text-align:center;

	.icon {
		display:block;
		margin:auto;
		margin-bottom:1rem;
	}
}

.feeds {
	.feed {
		border-color:black;
		border-style:solid;
		border-width:0;
		border-bottom-width:0.1rem;
		display:block;
		height:3rem;
		line-height:3rem;
		overflow:hidden;
		text-decoration:none;

		&:first-of-type {
			border-top-width:0.1rem;
		}

		.name {
			padding:0 1rem;

			img {
				margin-right:0.4em;
				position:relative;
				top:-1px;
				vertical-align:middle;
			}
		}

		.subscribe {
			border-left:solid 1px black;
			cursor:pointer;
			float:right;
			padding:0 1em;
			text-align:center;
		}

		&.subscribed .subscribe, .subscribe:hover {
			background-color:black;
			color:white;
		}
	}
}

@media (max-width:800px) {
	.feeds {
		.feed {
			font-size:1.4em;
			height:5rem;
			line-height:5rem;
		}
	}
}

@media (min-width:801px) {
	.feeds {
		text-align:center;

		.feed {
			border-width:0.1rem;
			display:inline-block;
			margin:3px 6px;
			text-align:left;
			width:380px;
		}
	}
}

body.dark {
	.feeds {
		.feed {
			border-color:#363636;

			.subscribe {
				border-color:#363636;
			}

			&.subscribed .subscribe, .subscribe:hover {
				background-color:#363636;
				color:white;
			}
		}
	}
}

body.orange {
	.feeds {
		.feed {
			border-color:#e69030;

			.subscribe {
				border-color:#e69030;
			}

			&.subscribed .subscribe, .subscribe:hover {
				background-color:#e69030;
				color:white;
			}
		}
	}
}
