body {
	text-align:center;

	h1 {
		font-size:6rem;
	}

	.auth {
		&.register {
			display:none;
		}

		.content {
			label {
				display:block;
				font-size:1.4em;
				margin:3rem 0 1rem;
			}

			input, button {
				box-shadow: 0 0 10px #ddd;
				font-size:2em;
				line-height:2em;
				padding:0.5em;
			}

			input {
				display:block;
				margin:auto;
				text-align:center;
				width:80%;
			}

			button {
				margin-top:3rem;
				min-width:40%;
			}
		}

		.footer {
			margin:3rem 0;

			.noAccount, .haveAccount {
				cursor:pointer;

				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}

@media (max-width:600px) {
	body {
		h1 {
			font-size:2em;
			margin:2rem 0;
		}

		.auth {
			.content {
				label {
					font-size:1em;
					margin-top:1rem;
				}

				input, button {
					font-size:1.4em;
					line-height:1.4em;
					padding:0.4em;
				}

				button {
					margin-top:1.5rem;
				}
			}

			.footer {
				font-size:0.9em;
				margin-top:2rem;
			}
		}
	}
}