@import "vars.scss";

.body_login {
	.authentication, .register {
		border:solid 1px black;
		margin:auto;
		margin-top:40px;
		text-align:center;
		width:300px;

		.header {
			background-color:black;
			color:white;
			font-weight:700;
			padding:1rem;
		}

		.content {
			padding:1rem 2rem;

			label {
				display:inline-block;
				margin-bottom:0.6rem;
			}

			input {
				display:inline-block;
				margin-bottom:1.2rem;
			}
		}
	}
}