@import "vars.scss";

html {
	font-size:10px;
}

body {
	background-color:white;
	color:black;
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	font-size:1.4rem;
	margin:0;
	padding:0;
}

a {
	color:black;
}

noscript {
	background-color:#fcc;
	border-bottom:solid 0.1rem red;
	color:red;
	display:block;
	font-weight:700;
	padding:1rem;
	text-align:center;
}

header {
	border-bottom:solid 0.1rem black;

	a {
		display:inline-block;
		line-height:2rem;
		padding:1rem 1.4rem;
		text-decoration:none;

		.label {
			display:inline-block;
			margin-left:0.75rem;
		}

		&:hover {
			background-color:rgba(0, 0, 0, 0.1);
		}
	}

	& > a {
		border-right:solid 0.1rem black;
	}

	.rightSide {
		float:right;

		& > a {
			border-left:solid 0.1rem black;
		}
	}

	@media (max-width:600px) {
		a .label {
			display:none;
		}
	}
}

input, select, textarea, button {
	background-color:white;
	border:solid 0.1rem black;
	color:black;
	padding:0.4rem 0.8rem;
}

button {
	cursor:pointer;

	&:hover {
		background-color:black;
		color:white;
	}
}

.flashMessages {
	bottom:25px;
	position:fixed;
	width:100%;

	.flashMessageContainer {
		display:block;
		margin-top:20px;
		text-align:center;

		.flashMessage {
			background-color:lightgrey;
			border:solid 0.1rem darkgrey;
			display:inline-block;
			font-size:1.6rem;
			padding:8px 12px;
		}
	}

	.flashMessageContainer:first-of-type {
		margin-top:0px;
	}
}

.popupContainer {
	align-items:center;
	background-color:rgba(0, 0, 0, 0.25);
	bottom:0px;
	display:flex;
	justify-content:center;
	left:0px;
	position:fixed;
	right:0px;
	top:0px;
	z-index:10;

	.popup {
		background-color:white;
		border:solid 2px black;
		display:inline-block;
		max-height:90%;
		max-width:90%;
		min-width:25%;
		position:relative;
		text-align:center;

		.popupTitle {
			background-color:black;
			color:white;
			font-size:2rem;
			font-weight:700;
			padding:1rem 2rem;
		}

		.popupContent {
			padding:1rem 2rem;

			label {
				display:inline-block;
			}

			input, select {
				display:inline-block;
				margin-top:0.6rem;
			}
		}

		.popupClose {
			color:white;
			cursor:pointer;
			font-size:1.4rem;
			height:1.6rem;
			line-height:1.6rem;
			position:absolute;
			right:0.4rem;
			text-align:center;
			top:0.4rem;
			width:1.6rem;
		}
	}

	&.hidden {
		display:none;
	}
}

.items {
	.item .header, .loadMore {
		cursor:pointer;
		display:block;
		font-size:1.3rem;
		font-weight:700;
		height:2.4rem;
		line-height:2.4rem;
		overflow:hidden;
		padding:0.4rem 0.8rem;
		position:relative;
	}

	.item {
		border-bottom:solid 0.1rem black;
		position:relative;
		text-align:left;

		&:first-of-type {
			border-top:solid 0.1rem black;
		}

		.header {
			text-decoration:none;

			.hide {
				border:solid 0.1rem black;
				cursor:pointer;
				display:none;
				height:1.2rem;
				line-height:1.2rem;
				margin-right:0.25rem;
				padding-bottom:0.2rem;
				text-align:center;
				width:1.4rem;

				&:hover {
					background-color:black;
					color:white;
				}
			}

			.star {
				margin-right:0.5rem;

				.icon-full {
					display:none;
				}

				&:hover {
					.icon-empty {
						display:none;
					}

					.icon-full {
						display:inline-block;
					}
				}
			}

			.datetime {
				margin-right:0.5rem;
			}

			&:hover .title {
				text-decoration:underline;
			}

			.summary {
				font-size:0.8em;
				font-weight:normal;
				margin-left:1rem;
			}

			.feed {
				float:right;
				margin-left:0.5rem;

				.icon {
					margin-left:0.25rem;
					vertical-align:middle;
				}
			}
		}

		&.read .header > * {
			opacity:0.6;
		}

		&.starred .header {
			.star {
				.icon-empty {
					display:none;
				}

				.icon-full {
					display:inline-block;
				}
			}
		}

		.content {
			border-top:solid 0.1rem black;
			display:none;
			font-size:1.3rem;
			line-height:2.4rem;
			max-height:400px;
			min-height:1.3rem;
			overflow-x:hidden;
			overflow-y:auto;
			padding:0.4rem 0.8rem;
			position:relative;

			img.clickToShow {
				background-image:url('/images/image.png');
				background-position:center;
				background-repeat:no-repeat;
				border:solid 0.1rem rgba(0, 0, 0, 0.2);
				cursor:pointer;
				display:inline-block;
				min-height:24px;
				min-width:24px;
				vertical-align:middle;
			}
		}

		.details {
			border-top:solid 0.1rem black;
			display:none;
			font-size:1.1rem;
			line-height:1.6rem;
			max-height:100px;
			overflow-x:hidden;
			overflow-y:auto;
			padding:0.6rem 0.8rem;

			& > div {
				margin-top:0.6rem;
			}

			& > *:first-child {
				margin-top:0;
			}
		}

		.details_toggle {
			background-color:inherit;
			border-left:solid 0.1rem black;
			border-top:solid 0.1rem black;
			bottom:0px;
			color:black;
			cursor:pointer;
			display:none;
			font-size:1.6rem;
			height:1.8rem;
			line-height:1.8rem;
			position:absolute;
			right:0px;
			text-align:center;
			width:1.8rem;
		}

		&.expanded {
			.header {
				.hide {
					display:inline-block;
				}
			}

			.content {
				display:block;
			}

			.details {
				display:none;
			}

			.details_toggle {
				display:block;
			}

			&.expandedDetails {
				.details {
					display:block;
				}

				.details_toggle {
					display:none;
				}
			}
		}
	}

	.loadMore {
		padding-bottom:0.8rem;
		text-align:center;

		i.icon-more {
			font-size:2em;
		}

		i.icon-loading {
			display:none;
			font-size:1.2em;
		}

		&.loading {
			padding-top:0.6rem;

			i.icon-more {
				display:none;
			}

			i.icon-loading {
				display:inline-block;
			}
		}
	}

	@media (min-height:1000px) {
		.item {
			.content {
				max-height:600px;
			}

			.details {
				max-height:150px;
			}
		}
	}

	@media (min-height:1200px) {
		.item {
			.content {
				max-height:800px;
			}
		}
	}

	@media (max-height:800px) {
		.item {
			.content {
				max-height:300px;
			}
		}
	}

	@media (max-height:600px) {
		.item {
			.content {
				max-height:200px;
			}
		}
	}

	@media (max-width:600px) {
		.item {
			.header {
				.feed .name {
					display:none;
				}
			}
		}
	}

	@media (max-width:991px) {
		.item .header, .loadMore {
			font-size:1.4rem;
			height:2.8rem;
			line-height:2.8rem;
		}
	}
}

body.night {
	background-color:#161616;
	color:#a8a8a8;

	a {
		color:#a8a8a8;
	}

	header {
		border-bottom-color:#363636;

		a:hover {
			color:#cfcfcf;
		}

		& > a {
			border-right-color:#363636;
		}

		.rightSide {
			& > a {
				border-left-color:#363636;
			}
		}
	}

	input, select, textarea, button {
		background-color:#363636;
		border-color:#363636;
		color:#a8a8a8;
	}

	button:hover {
		background-color:#363636;
		color:#cfcfcf;
	}

	.flashMessages {
		.flashMessageContainer {
			.flashMessage {
				background-color:#363636;
				border-color:#363636;
			}
		}
	}

	.popupContainer {
		.popup {
			background-color:#161616;
			border-color:#262626;

			.popupTitle {
				background-color:#262626;
				color:inherit;
			}

			.popupClose {
				color:inherit;
			}
		}
	}

	.items {
		.item {
			border-color:#363636;

			.header {
				.hide {
					border-color:#363636;
					color:#a8a8a8;

					&:hover {
						background-color:#363636;
						color:#cfcfcf;
					}
				}
			}

			.content {
				border-color:#363636;

				img.clickToShow {
					border-color:#363636;
				}
			}

			.details {
				border-color:#363636;
			}

			.details_toggle {
				border-color:#363636;
				color:inherit;
			}
		}
	}
}