html {
	font-size:10px;

	&.fs7 { font-size:7px; }
	&.fs8 { font-size:8px; }
	&.fs9 { font-size:9px; }
	&.fs12 { font-size:12px; }
	&.fs14 { font-size:14px; }
	&.fs18 { font-size:18px; }
}

body {
	background-color:white;
	color:black;
	font-family:'Open Sans', sans-serif;
	font-size:1.4rem;
	margin:0;
	padding:0;

	&.ff-arial { font-family: 'Arial', 'Helvetica', sans-serif; }
	&.ff-courier-new { font-family: 'Courier New', monospace; }
	&.ff-fira-sans { font-family: 'Fira Sans', sans-serif; }
	&.ff-georgia { font-family: 'Georgia', serif; }
	&.ff-lato { font-family: 'Lato', sans-serif; }
	&.ff-open-sans { font-family: 'Open Sans', sans-serif; }
	&.ff-times-new-roman { font-family: 'Times New Roman', serif; }
	&.ff-ubuntu { font-family: 'Ubuntu', sans-serif; }
	&.ff-verdana { font-family: 'Verdana', sans-serif; }
}

a {
	color:black;
}

.hidden {
	display:none !important;
	visibility:hidden !important;
}

noscript {
	background-color:#fcc;
	border-top:solid 1px red;
	bottom:0px;
	color:red;
	font-size:1rem;
	margin:auto;
	padding:0.8em;
	position:fixed;
	text-align:center;
	width:100%;
	z-index:10;
}

body > header {
	border-bottom:solid 1px black;

	.menu {
		border-right:solid 1px black;
		cursor:pointer;
		display:inline-block;
		line-height:2em;
		padding:0.4em 1em;
		text-decoration:none;

		.label {
			display:inline-block;
			margin-left:0.75em;
		}

		&:hover {
			background-color:black;
			color:white;
		}
	}

	.rightSide {
		float:right;

		& > .menu {
			border-left:solid 1px black;
			border-right:0;
		}
	}

	@media (max-width:600px) {
		.menu .label {
			display:none;
		}
	}
}

input, select, textarea, button {
	background-color:white;
	border:solid 1px black;
	color:black;
	font-family:inherit;
	font-size:1.4rem;
	padding:0.4rem 0.8rem;
}

input[type=file] {
	background-color:transparent;
	border-color:transparent;
}

button {
	cursor:pointer;

	&:hover {
		background-color:black;
		color:white;
	}
}

.flashMessages {
	bottom:25px;
	position:fixed;
	width:100%;

	.flashMessageContainer {
		display:block;
		margin-top:20px;
		text-align:center;

		.flashMessage {
			background-color:lightgrey;
			border:solid 1px darkgrey;
			display:inline-block;
			font-size:1.6rem;
			line-height:1.6rem;
			padding:8px 12px;

			&.success {
				background-color:#9f9 !important;
				border:solid 1px green !important;
				color:green !important;
			}

			&.warning {
				background-color:#feb !important;
				border:solid 1px orange !important;
				color:orange !important;
			}

			&.error {
				background-color:#f99 !important;
				border:solid 1px red !important;
				color:red !important;
			}

			.flashMessageClose {
				cursor:pointer;
				font-size:0.8em;
				margin-left:0.5em;
			}
		}
	}

	.flashMessageContainer:first-of-type {
		margin-top:0px;
	}
}

.popupContainer {
	align-items:center;
	background-color:rgba(0, 0, 0, 0.5);
	bottom:0px;
	display:flex;
	justify-content:center;
	left:0px;
	position:fixed;
	right:0px;
	top:0px;
	z-index:10;

	.popup {
		background-color:white;
		border:solid 2px black;
		display:inline-block;
		max-height:90%;
		max-width:90%;
		min-width:30%;
		position:relative;
		text-align:center;

		.popupTitle {
			background-color:black;
			color:white;
			font-size:2rem;
			font-weight:700;
			padding:1rem 2rem;
		}

		.popupContent {
			padding:1rem 2rem;

			form {
				& > label {
					display:block;
				}

				& > input, & > select {
					display:block;
					margin:auto;
					margin-top:1rem;
				}

				& > select {
					margin-left:auto;
					margin-right:auto;
					min-width:60%;
				}
			}
		}

		.popupClose {
			color:white;
			cursor:pointer;
			font-size:1.4rem;
			height:1.6rem;
			line-height:1.6rem;
			position:absolute;
			right:0.4rem;
			text-align:center;
			top:0.4rem;
			width:1.6rem;
		}
	}
}

.itemRow, .itemRowMore {
	cursor:pointer;
	height:2em;
	line-height:2em;
	overflow:hidden;
	padding:0.4em 0.6em;
	text-decoration:none;
}

.itemRow {
	border-bottom:solid 1px black;
	display:flex;
	flex-direction:row;

	&:focus { outline:none; }

	& > * {
		align-self:center;
		height:100%;
	}

	.readIcon {
		background-color:black;
		flex-shrink:0;
		height:100%;
		margin-right:0.6em;
		width:0.3em;
	}

	&.read .readIcon, .readIcon:hover {
		opacity:0.2;
	}

	&.read .readIcon:hover {
		opacity:1;
	}

	.starIcon {
		flex-shrink:0;
		margin-right:0.6em;

		.icon-full {
			display:none;
		}

		&:hover {
			.icon-empty {
				display:none;
			}

			.icon-full {
				display:inline-block;
			}
		}
	}

	&.starred .starIcon {
		.icon-empty {
			display:none;
		}

		.icon-full {
			display:inline-block;
		}
	}

	.datetime {
		flex-shrink:0;
		font-size:0.8em;
		margin-right:0.6em;
	}

	.titleSummary {
		flex-grow:1;

		.title {
			font-weight:700;
		}

		.summary {
			font-size:0.8em;
			margin-left:1em;
		}
	}

	&:hover .title, &.selected .title {
		text-decoration:underline;
	}

	.feed {
		display:flex;
		flex-shrink:0;
		margin-left:0.5em;

		.name {
			font-size:0.9em;
			font-weight:700;
			margin-right:0.5em;
			max-width:250px;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}

		@media (max-width:600px) {
			.name {
				display:none;
			}
		}

		@media (min-width:1200px) {
			.name {
				max-width:none;
			}
		}

		.icon {
			align-self:center;
			height:1em;
			vertical-align:middle;
			width:1em;
		}
	}
}

.itemRowMore {
	display:block;
	padding-bottom:0.4em;
	text-align:center;

	i.icon-more {
		font-size:2em;
	}

	i.icon-loading {
		display:none;
		font-size:1.2em;
	}

	&.loading {
		padding-top:0.4em;

		i.icon-more {
			display:none;
		}

		i.icon-loading {
			display:inline-block;
		}
	}
}

body.theme-dark {
	background-color:#161616;
	color:#a8a8a8;

	a {
		color:#a8a8a8;
	}

	& > header {
		border-bottom-color:#363636;

		& > .menu, .rightSide > .menu {
			border-right-color:#363636;

			&:hover {
				background-color:inherit;
				color:#cfcfcf;
			}
		}

		.rightSide {
			& > a {
				border-left-color:#363636;
			}
		}
	}

	input, select, textarea, button {
		background-color:#363636;
		border-color:#363636;
		color:#a8a8a8;
	}

	input[type=file] {
		background-color:transparent;
		border-color:transparent;
	}

	button:hover {
		background-color:#363636;
		color:#cfcfcf;
	}

	.flashMessages {
		.flashMessageContainer {
			.flashMessage {
				background-color:#363636;
				border-color:#363636;
			}
		}
	}

	.popupContainer {
		.popup {
			background-color:#161616;
			border-color:#262626;

			.popupTitle {
				background-color:#262626;
				color:inherit;
			}

			.popupClose {
				color:inherit;
			}
		}
	}

	.itemRow {
		border-color:#363636;

		.readIcon {
			background-color:#a8a8a8;
		}
	}
}
