h1 {
	text-align:center;
}

.tab {
	background-color:white;
	border:solid 2px black;
	margin:30px 40px 0;
	text-align:center;

	&:first-of-type {
		margin-top:0;
	}

	.header {
		background-color:black;
		color:white;
		cursor:pointer;
		font-weight:700;
		padding:10px;
	}

	.content {
		border-top:solid 1px black;
		display:none;
		padding:10px;
	}

	&.catsubs {
		.content {
			padding:0;

			.buttons {
				padding:1rem;
			}

			.tree {
				text-align:left;

				.row {
					background-color:white;
					border-bottom:solid 1px black;
					height:3rem;
					line-height:3rem;
					overflow:hidden;
					padding:0 1rem;

					.icon {
						margin-right:0.2rem;
						vertical-align:middle;
					}

					.actions {
						float:right;

						i {
							cursor:pointer;
							padding:0 0.4rem;
						}
					}
				}

				& > div:first-of-type {
					border-top:solid 1px black;
				}

				.category {
					.toggle {
						cursor:pointer;
						display:inline-block;
						width:1rem;

						.open {
							display:none;
						}
					}

					&.expanded {
						.toggle {
							.open {
								display:inline-block;
							}

							.closed {
								display:none;
							}
						}
					}
				}

				.rowChildren {
					display:none;

					&.expanded {
						display:block;
					}
				}
			}
		}
	}
}

.popupContainer {
	&.editCategory {
		.subscriptions {
			border:solid 1px black;
			margin:auto;
			margin-top:1rem;
			max-height:40rem;
			max-width:100%;
			overflow:auto;
			padding:0.5rem 1rem;
			text-align:left;
		}
	}

	&.newSubscription, &.editSubscription {
		.categories {
			border:solid 1px black;
			display:inline-block;
			margin:auto;
			margin-top:1rem;
			max-height:40rem;
			max-width:100%;
			overflow:auto;
			padding:0.5rem 1rem;
			text-align:left;
		}
	}
}