$color-main1:#e3e3f9;
$color-main2:#ccf;
$color-main3:#336;
$color-main4:#009;

$color-default: black;
$color-link: $color-main4;
$color-border: $color-main2;

$color-body-background: $color-main1;
$color-header-background: white;
$color-popup-background: white;

$color-item-background: #fcfcfc;
$color-item-header-unread: #f0f0f0;
$color-item-title: #006;
$color-item-summary: #99c;