{% set itemOptions = itemOptions is defined ? itemOptions : [] %}

{% if items is defined and items|length > 0 %}
	{% for item in items %}
		{% include 'MiamBundle:Default:item_row.html.twig' %}
	{% endfor %}

	{% if 'loadMore' in itemOptions and (countMaxItems is not defined or countMaxItems == items|length) %}
		<div class="itemRowMore">
			<i class="icon-more fa fa-angle-down"></i>
			<i class="icon-loading fa fa-spinner fa-spin"></i>
		</div>
	{% endif %}
{% endif %}