<div class="popupContainer {% block popupContainerClass %}{% endblock %}">
	<div class="popup {% block popupClass %}{% endblock %}">
		{% if block('popupTitle') %}
			<header>
				{% block popupTitle %}{% endblock %}
			</header>
		{% endif %}

		<div class="popupContent">
			{% block popupContent %}{% endblock %}
		</div>

		<div class="popupClose">
			<i class="fa fa-times"></i>
		</div>
	</div>
</div>