{% extends 'MiamBundle:Catalog:base.html.twig' %}

{% block content %}
	<div class="items">
		{% include 'MiamBundle:Default:items.html.twig' %}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts "@MiamBundle/Resources/public/js/items.js" %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript">
		$(document).ready(function() {
			app.items.init();
		});
	</script>
{% endblock %}