{% extends 'MiamBundle:Catalog:base.html.twig' %}

{% block content %}
	<h1>Catalog - Items</h1>

	<p><a href="{{ path('catalog_feeds') }}">Show feeds</a></p>

	<div class="items">
		{% include 'MiamBundle:Default:items.html.twig' with {'itemsOptions': ['loadMore']} %}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/items.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/catalog.js') }}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			app.items.init();
			app.catalog.init();
		});
	</script>
{% endblock %}