.adminIndex .header {
  text-align: center; }
.adminIndex .blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }
  .adminIndex .blocks .block {
    border: solid 1px black;
    border-collapse: collapse;
    margin: 1em 0;
    width: 48%; }
    .adminIndex .blocks .block tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.2); }
    .adminIndex .blocks .block tr th, .adminIndex .blocks .block tr td {
      padding: 2px 4px; }
    .adminIndex .blocks .block tr th:first-of-type {
      text-align: left; }
    .adminIndex .blocks .block tr td:nth-of-type(2) {
      text-align: center; }

@media (max-width: 768px) {
  .adminIndex .blocks {
    flex-direction: column; }
    .adminIndex .blocks .block {
      border-left: none;
      border-right: none;
      margin: 1em 0;
      width: 100%; } }
.adminFeeds h1 {
  text-align: center; }
.adminFeeds .forms {
  padding: 10px 15px;
  text-align: center; }
.adminFeeds .pagination {
  margin: 2em 0;
  text-align: center; }
  .adminFeeds .pagination .page {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 0 0.2em;
    padding: 0.4em 0.6em;
    text-decoration: none; }
    .adminFeeds .pagination .page.current {
      font-weight: bold; }
.adminFeeds table {
  margin: auto;
  max-width: 100%; }
  .adminFeeds table th.name, .adminFeeds table th.url {
    text-align: left; }
  .adminFeeds table tr.feed .name i.errors {
    color: red;
    margin-right: 2px; }
  .adminFeeds table tr.feed .parser .parsing {
    display: none; }
  .adminFeeds table tr.feed td.icon, .adminFeeds table tr.feed td.items, .adminFeeds table tr.feed td.subscriptions, .adminFeeds table tr.feed td.parser, .adminFeeds table tr.feed td.delete {
    text-align: center; }

.adminFeed {
  margin-bottom: 2em; }
  .adminFeed h1 {
    text-align: center; }
  .adminFeed p {
    text-align: center; }
  .adminFeed table.infos {
    border: solid 1px black;
    border-collapse: collapse;
    margin: 2em auto; }
    .adminFeed table.infos tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.2); }
    .adminFeed table.infos tr th, .adminFeed table.infos tr td {
      padding: 0.4em 0.6em; }
    .adminFeed table.infos tr th {
      text-align: right; }
  .adminFeed .parseForm {
    text-align: center; }
  .adminFeed .lastItems {
    margin-top: 2em; }
  .adminFeed .items > *:first-child {
    border-top: solid 1px black; }
  .adminFeed .delete {
    margin-top: 5em;
    text-align: center; }
    .adminFeed .delete .deleteLink {
      cursor: pointer;
      text-decoration: underline; }
    .adminFeed .delete .deleteForm {
      display: none; }
      .adminFeed .delete .deleteForm button {
        margin: 0 1em; }
      .adminFeed .delete .deleteForm .deleteButton {
        background-color: red;
        border: none;
        color: white; }

body.theme-dark.adminIndex .blocks .block {
  border-color: #363636; }
body.theme-dark.adminFeeds .pagination .page {
  background-color: #363636;
  color: #a8a8a8; }
body.theme-dark.adminFeed .items > *:first-child {
  border-color: #363636; }

/*# sourceMappingURL=admin.css.map */
